<%- include("partials/header.ejs") %>


<section class="container pt-5">
  
              <div class="col-md-8 bg-body-secondary mt-5">
        
              <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">Welcome to Music Bloggers!</h2>
                <p class="blog-post-meta">By Lilia M.</a></p>
                <hr>
                <p>Here you can create blog posts dedicated to your favorite bands,
                  groups, artists, etc! Music is
                  something that I'm personally attached to, as it has gotten me through
                  a couple of tough moments in my life. There is no pressure to only write
                  about positive moments and we encourage you to express yourself in a way that
                  makes you comfortable. However, please refrain from making malicious comments
                  towards another person, artists included.</p>
              </article>
            </div>

            <div class=" row col-md-4 bg-body-secondary mt-5">
              <div style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                  <h4 class="fst-italic">If you would like to expand your genres/interests, please click here to get a random artist to look into:</h4>
                  <% if (locals.artist) { %>
                  <p>
                    <%= artist %>
                  </p>
                  <% } %>
                  <form action="/submit" method="POST">
                    <button type="submit">Artist</button>
                  </form>
                </div>
              </div>    
            </div>

</section>
<%- include("partials/footer.ejs") %>